---
- name: install nvim dependencies
  become: true
  apt:
    update_cache: true
    state: present
    name:
      - build-essential
      - ripgrep
      - fd-find
      - sqlite3
      - xclip

- name: Test if nvim is installed
  command: which nvim
  register: test_nvim
  changed_when: false
  failed_when: false

- name: Delete previous nvim
  when: test_nvim.rc != 0
  become: true
  file:
    path: /opt/nvim
    state: absent

- name: Install Neovim
  when: test_nvim.rc != 0
  include_role:
    name: me.utils/install_github_archive_app
  vars:
    github_repo: "neovim/neovim"
    github_asset_name: "nvim-linux-x86_64.tar.gz"
    binary_path_within_archive: "bin/nvim"
    install_dir: "/opt/nvim"
    symlink_path: "/usr/local/bin"
    tmp_dir: "/tmp/nvim"
    archive_root_dir: "nvim-linux-x86_64"
    app_name: "nvim"
