---
- name: install nvim dependencies
  become: true
  apt:
    update_cache: true
    state: present
    name:
      - build-essential
      - ripgrep
      - fd-find
      - sqlite3
      - xclip

- name: Test if nvim is installed
  command: which nvim
  register: test_nvim
  changed_when: false
  failed_when: false

- name: Delete previous nvim
  when: test_nvim.rc != 0
  become: true
  file:
    path: /opt/nvim
    state: absent

# Install nvim
- name: Download neovim archive
  when: test_nvim.rc != 0
  get_url:
    url: https://github.com/neovim/neovim/releases/latest/download/nvim-linux-x86_64.tar.gz
    dest: /tmp/nvim.tar.gz
    mode: '0644'

- name: Unarchive /tmp/nvim.tar.gz
  when: test_nvim.rc != 0
  become: true
  unarchive:
    src: /tmp/nvim.tar.gz
    dest: /opt/

- name: Rename the archive to nvim
  # noqa no-changed-when
  when: test_nvim.rc != 0
  become: true
  command: mv /opt/nvim-linux-x86_64 /opt/nvim

# configure PATH
- name: Create /etc/profile.d/nvim.sh
  become: true
  copy:
    src: ./files/nvim/nvim.sh
    dest: /etc/profile.d/nvim.sh
    owner: root
    group: root
    mode: '0755'
