---

- name: install nvim dependencies
  become: true
  apt:
    update_cache: true
    state: present
    name:
      - build-essential
      - ripgrep
      - fd-find
      - sqlite3
      - xclip

- name: Test if nvim is installed
  shell: command -v nvim || true
  register: test_nvim

- name: Delete previous nvim
  when: test_nvim.stdout == ""
  become: true
  file:
    path: /opt/nvim
    state: absent

# Install nvim
- name: Download neovim archive
  when: test_nvim.stdout == ""
  get_url:
    url: https://github.com/neovim/neovim/releases/latest/download/nvim-linux-x86_64.tar.gz
    dest: /tmp/nvim.tar.gz
- name: Unarchive /tmp/nvim.tar.gz
  when: test_nvim.stdout == ""
  become: true
  unarchive:
    src: /tmp/nvim.tar.gz
    dest: /opt/
- name: Rename the archive to nvim
  when: test_nvim.stdout == ""
  become: true
  shell: mv /opt/nvim-linux-x86_64 /opt/nvim

# configure PATH
- name: Create /etc/profile.d/nvim.sh
  become: true
  copy:
    src: ./files/nvim/nvim.sh
    dest: /etc/profile.d/nvim.sh
    owner: root
    group: root
    mode: '0755'
