[defaults]
[privilege_escalation]
# FIXME: Ubuntu 26 uses sudo-rs by default instead of traditional sudo.
# This implementation is not fully compatible with older Ansible versions (< 2.21),
# which expect the classic sudo behavior.
# Therefore, we explicitly force sudo.ws for compatibility.
# https://github.com/ansible/ansible/issues/85837
become_exe = sudo.ws
