- hosts: localhost
  vars_files: vars/main.yml

  pre_tasks:
    #    - name: Install openssh-server
    #      become: true
    #      apt:
    #        update_cache: true
    #        state: present
    #        name:
    #          - openssh-server

    - name: Install base packages
      become: true
      apt:
        update_cache: true
        state: present
        name:
          - git
          - vim
          - curl
          - snapd
          - wget
          - openssh-server
          - lsof
          - libfuse2
          # for gcloud
          - python3
          # for terraform
          - gnupg
          - software-properties-common
          - apt-transport-https
          - fonts-jetbrains-mono
          # other
          - python3-pip
          - python3-full
          - pipx

    - name: Gather service facts
      service_facts:
    - name: Enable and start SSH service
      become: true
      systemd:
        name: ssh
        enabled: yes
        state: started
      when: "'ssh.service' in ansible_facts.services"

    - name: "Create {{ ansible_env.HOME }}/sources"
      file:
        path: "{{ ansible_env.HOME }}/sources"
        state: directory

  roles:
    - role: me.ollama
    - role: me.golang
      tags: golang
    - role: me.git
    - role: me.docker
    - role: me.font
      tags: [font, nvim]
    - role: me.lazygit
      tags: [lazygit, nvim]
    - role: me.terminator
    - role: me.nvim
      tags: nvim
    - role: me.tmux
    - role: me.fzf
      tags: nvim
    - role: me.zsh
    - role: me.chrome
    - role: me.jetbrains_toolbox
      tags: jetbrains
    - role: me.terraform
    - role: me.devtoys
    - role: me.postman
    - role: me.insomnia
    - role: me.dbeaver
    - role: me.samba
    - role: me.gotop
    - role: me.nodejs
    - role: me.gcloud
    - role: me.vscode
    - role: me.libreoffice
