- hosts: localhost
  vars_files:
    - vars/main.yml
    - vars/vars.yml

  pre_tasks:
    - name: Install base packages
      become: true
      apt:
        update_cache: true
        state: present
        name:
          - git
          - vim
          - curl
          - snapd
          - wget
          - openssh-server
          - lsof
          - libfuse2
          # for gcloud
          - python3
          # for terraform
          - gnupg
          - software-properties-common
          - apt-transport-https
          - fonts-jetbrains-mono
          # other
          - python3-pip
          - python3-full
          - pipx
      when: ansible_run_tags | difference(['all']) | length == 0

    - name: Gather service facts
      service_facts:
      tags: always
    - name: Set facts
      set_fact:
        github_arch: "{{ arch_map[ansible_architecture] }}"
      tags: always
    - name: Enable and start SSH service
      become: true
      systemd:
        name: ssh
        enabled: true
        state: started
      when:
        - ansible_run_tags | difference(['all']) | length == 0
        - "'ssh.service' in ansible_facts.services"

    - name: "Create {{ ansible_env.HOME }}/sources"
      file:
        path: "{{ ansible_env.HOME }}/sources"
        state: directory
        mode: "0755"
      when: ansible_run_tags | difference(['all']) | length == 0

  roles:
    - role: me.ollama
      tags: ollama
    - role: me.golang
      tags: golang
    - role: me.git
      tags: git
    - role: me.docker
      tags: docker
    - role: me.kitty
      tags: kitty
    - role: me.terminator
      tags: terminator
    - role: me.nvim/core
      tags: [nvim]
    - role: me.nvim/lazyvim
      tags: [lazyvim]
    - role: me.font
      tags: [font, nvim]
    - role: me.lazygit
      tags: [lazygit, nvim]
    - role: me.fzf
      tags: [fzf, nvim]
    - role: me.dbclient
      tags: [nvim]
    - role: me.tmux
      tags: tmux
    - role: me.zsh
      tags: zsh
    - role: me.lazydocker
      tags: lazydocker
    - role: me.lazysql
      tags: lazysql
    - role: me.chrome
      tags: chrome
    - role: me.jetbrains_toolbox
      tags: jetbrains_toolbox
    - role: me.terraform
      tags: terraform
    - role: me.devtoys
      tags: devtoys
    - role: me.postman
      tags: postman
    - role: me.insomnia
      tags: insomnia
    - role: me.dbeaver
      tags: dbeaver
    - role: me.samba
      tags: samba
    - role: me.nodejs
      tags: nodejs
    - role: me.gcloud
      tags: gcloud
    - role: me.vscode
      tags: vscode
    - role: me.libreoffice
      tags: libreoffice
    - role: me.tools
      tags: tools
