- hosts: localhost
  vars_files:
    - vars/vars.yml

  pre_tasks:
    - name: Gather service facts
      service_facts:
      tags: always
    - name: Set facts
      tags: always
      set_fact:
        github_arch: "{{ arch_map[ansible_architecture] }}"

  roles:
    - role: me.nvim/core
      tags: [nvim]
    - role: me.nvim/astronvim
      tags: [astronvim]
    - role: me.nvim/lazyvim
      tags: [lazyvim]
    - role: me.font
      tags: [nvim]
    - role: me.fzf
      tags: [nvim]
    - role: me.dbclient
      tags: [nvim]
    - role: me.treesitter
      tags: [nvim]

    - role: me.zsh
      tags: [zsh]
    - role: me.tmux
      tags: [tmux]
    - role: me.golang
      tags: [golang]
    - role: me.nodejs
      tags: [nodejs]

- import_playbook: playbook-tui.yml
  vars:
    github_arch: "{{ arch_map[ansible_architecture] }}"
