---
- name: Check if golang is installed
  command: which go
  register: go_in_path
  changed_when: false
  failed_when: false

- name: Get installed golang version if present
  command: "go version"
  register: go_version
  changed_when: false
  when: go_in_path.rc == 0

- name: Set installed_go_version fact
  set_fact:
    installed_go_version: "{{ go_version.stdout.split(' ')[2] | regex_replace('^go','') }}"
  when: go_in_path.rc == 0

- name: Determine if Go installation is needed
  set_fact:
    need_install_go: "{{ (installed_go_version is not defined) or (installed_go_version != var_golang_version) }}"

- name: Delete previous go installation
  when: need_install_go
  become: true
  file:
    path: /usr/local/go
    state: absent

- name: Download golang archive
  when: need_install_go
  get_url:
    url: "https://go.dev/dl/go{{ var_golang_version }}.linux-amd64.tar.gz"
    dest: /tmp/golang.tar.gz
    mode: '0644'

- name: Unarchive /tmp/golang.tar.gz
  when: need_install_go
  become: true
  unarchive:
    src: /tmp/golang.tar.gz
    dest: /usr/local
    remote_src: true

- name: Delete /tmp/golang.tar.gz
  when: need_install_go
  file:
    path: /tmp/golang.tar.gz
    state: absent

- name: Install golangci-lint
  # noqa no-changed-when
  command: /usr/local/go/bin/go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
- name: Install delve
  # noqa no-changed-when
  command: /usr/local/go/bin/go install github.com/go-delve/delve/cmd/dlv@latest
