---
- name: Check if golang is installed
  command: which go
  register: go_in_path
  changed_when: false
  failed_when: false

- name: Get installed golang version if present
  command: "go version"
  register: go_version
  changed_when: false
  when: go_in_path.rc == 0

- name: Set installed_go_version fact
  set_fact:
    installed_go_version: "{{ go_version.stdout.split(' ')[2] | regex_replace('^go','') }}"
  when: go_in_path.rc == 0

- name: Get latest golang version if var_golang_version is not defined
  ansible.builtin.uri:
    url: https://go.dev/VERSION?m=text
    return_content: true
  register: latest_go_version
  when: var_golang_version is not defined

- name: Set golang_version fact
  set_fact:
    golang_version: >-
      {{
        (var_golang_version if var_golang_version is defined
        else (latest_go_version.content.split()[0] | regex_replace('^go','')))
      }}

- name: Determine if Go installation is needed
  set_fact:
    need_install_go: "{{ (installed_go_version is not defined) or (installed_go_version != golang_version) }}"

- name: Delete previous go installation
  when: need_install_go
  become: true
  file:
    path: /usr/local/go
    state: absent

- name: "Download golang {{ golang_version }} archive"
  when: need_install_go
  get_url:
    url: "https://go.dev/dl/go{{ golang_version }}.linux-amd64.tar.gz"
    dest: /tmp/golang.tar.gz
    mode: '0644'

- name: Unarchive /tmp/golang.tar.gz
  when: need_install_go
  become: true
  unarchive:
    src: /tmp/golang.tar.gz
    dest: /usr/local
    remote_src: true

- name: Symlink go binary into /usr/local/bin
  become: true
  file:
    src: /usr/local/go/bin/go
    dest: /usr/local/bin/go
    state: link

- name: Delete /tmp/golang.tar.gz
  when: need_install_go
  file:
    path: /tmp/golang.tar.gz
    state: absent

- name: Install golangci-lint
  shell: |
    set -o pipefail
    curl -sSfL https://golangci-lint.run/install.sh | sh -s -- -b {{var_golang_gopath}}/bin v2.10.1
  args:
    creates: "{{ var_golang_gopath }}/bin/golangci-lint"
    executable: /bin/bash

- name: Install delve
  command: /usr/local/go/bin/go install github.com/go-delve/delve/cmd/dlv@latest
  args:
    creates: "{{ var_golang_gopath }}/bin/dlv"
