---
- name: Assert required variables
  assert:
    that:
      - download_dir | length > 0
      - download_url | length > 0
      - filename | length > 0

- name: "Ensure temp dir exists: {{ download_dir }}"
  file:
    path: "{{ download_dir }}"
    state: directory
    mode: '0755'

- name: "Download archive in {{ download_dir }}/{{ filename }}"
  get_url:
    url: "{{ download_url }}"
    dest: "{{ download_dir }}/{{ filename }}"
    mode: '0644'
    force: false

- name: "Extract archive to {{ download_dir }}/"
  unarchive:
    src: "{{ download_dir }}/{{ filename }}"
    dest: "{{ download_dir }}"
    remote_src: true
  when: extract_archive
