---
- name: Test if jetbrains-toolbox is installed
  shell: test -x /opt/jetbrains-toolbox/bin/jetbrains-toolbox && echo "found" || true
  register: test_jbtoolbox
  changed_when: false

- name: Download jetbrains-toolbox.tar.gz
  when: test_jbtoolbox.rc != 0
  get_url:
    url: https://data.services.jetbrains.com/products/download?platform=linux&code=TBA
    dest: /tmp/jetbrains-toolbox.tar.gz
    mode: '0644'

- name: Create /opt/jetbrains-toolbox directory
  when: test_jbtoolbox.rc != 0
  become: true
  file:
    path: /opt/jetbrains-toolbox
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Unarchive jetbrains-toolbox
  when: test_jbtoolbox.rc != 0
  become: true
  unarchive:
    src: /tmp/jetbrains-toolbox.tar.gz
    dest: /opt/jetbrains-toolbox
    remote_src: true
    extra_opts: [--strip-components=1]

- name: Ensure jetbrains-toolbox binary is executable
  when: test_jbtoolbox.rc != 0
  become: true
  file:
    path: /opt/jetbrains-toolbox/bin/jetbrains-toolbox
    mode: '0755'
    state: file

- name: Create corrected .desktop for menu
  when: test_jbtoolbox.rc != 0
  become: true
  copy:
    dest: /usr/share/applications/jetbrains-toolbox.desktop
    content: |
      [Desktop Entry]
      Type=Application
      Name=JetBrains Toolbox
      Exec=/opt/jetbrains-toolbox/bin/jetbrains-toolbox
      Icon=/opt/jetbrains-toolbox/bin/toolbox-tray-color.png
      StartupNotify=false
      Terminal=false
      MimeType=x-scheme-handler/jetbrains;
      X-AppImage-Integrate=false
    owner: root
    group: root
    mode: '0644'

- name: Delete temporary tar.gz
  when: test_jbtoolbox.rc != 0
  become: true
  file:
    path: /tmp/jetbrains-toolbox.tar.gz
    state: absent
