---
- name: Install huggingface-cli
  shell: pip install -U "huggingface_hub[cli]" --break-system-packages

- name: Test if ollama is installed
  command: which ollama
  register: test_ollama
  changed_when: false
  failed_when: false

- name: Install ollama
  when: test_ollama.rc != 0
  shell: |
    set -o pipefail
    curl -fsSL https://ollama.com/install.sh | sh
  args:
    executable: /bin/bash

- name: Creates ollama config override directory
  become: true
  file:
    path: /etc/systemd/system/ollama.service.d
    state: directory
    mode: '0644'

- name: Configure ollama
  become: true
  copy:
    src: ollama/config.conf
    dest: /etc/systemd/system/ollama.service.d/config.conf
    mode: '0644'
