---
- name: Set tpm directory
  set_fact:
    tpm_directory: "{{ ansible_env.HOME }}/.config/tmux/plugins/tpm"

- name: Install tmux and dependencies
  become: true
  apt:
    name:
      - cmake
      - tmux
    state: present

- name: Install Tmux Plugin Manager
  git:
    repo: https://github.com/tmux-plugins/tpm
    dest: "{{ tpm_directory }}"
    update: true
    version: master

- name: Ensure {{ ansible_env.HOME }}/.config/tmux/ exists
  file:
    path: "{{ ansible_env.HOME }}/.config/tmux"
    state: directory
    mode: '0755'

- name: Copy tmux configuration
  synchronize:
    src: ./files/tmux/
    dest: "{{ ansible_env.HOME }}/.config/tmux/"
    recursive: true

- name: Install tmux plugins
  command: "{{ tpm_directory }}/bin/install_plugins"
  changed_when: false
  failed_when: false

- name: Clean tmux plugins
  command: "{{ tpm_directory }}/bin/clean_plugins"
  changed_when: false

- name: Copy setup folder in ~/
  synchronize:
    src: ./files/setup
    dest: "{{ ansible_env.HOME }}"
    recursive: true
