---
- name: Assert required variables
  assert:
    that:
      - github_repo | length > 0
      - github_asset_name | length > 0

- name: Resolve GitHub release and download asset
  include_role:
    name: me.utils/fetch_github_asset

- name: "Install .deb package: {{ tmp_dir }}/{{ github_asset_name }}"
  apt:
    deb: "{{ tmp_dir }}/{{ github_asset_name }}"
    state: present
  become: true

- name: "Cleanup temp dir: {{ tmp_dir }}"
  file:
    path: "{{ tmp_dir }}"
    state: absent
  when: delete_tmp_dir
