ansible_become_password: "secret" # the sudo password
var_golang_version: "1.25.1"
var_golang_gopath: '{{ ansible_env.HOME }}/go'
var_nodejs_version: '22'

var_samba_user: 'john'
var_samba_password: 'secret'

var_git_email: 'john@gmail.com'
var_git_username: 'john'
