ansible_become_password: "secret" # the sudo password
var_golang_version: "1.26.0"
var_golang_gopath: '{{ ansible_env.HOME }}/go'
var_nodejs_version: '24'

var_samba_user: 'johndoe'
var_samba_password: 'secret'

var_git_email: 'johndoe@gmail.com'
var_git_username: 'johndoe'
