---
- name: Test if gcloud is installed
  command: which gcloud
  register: test_gcloud
  changed_when: false
  failed_when: false

- name: Create a tmp path
  when: test_gcloud.rc != 0
  file:
    path: "/tmp/install_gcloud"
    state: directory
    mode: '0755'

- name: Install gcloud
  when: test_gcloud.rc != 0
  include_role:
    name: ansible.install-gcloud
  vars:
    gcloud_tmp_path: /tmp/install_gcloud
    gcloud_archive_name: google-cloud-cli-linux-x86_64.tar.gz

- name: Remove the tmp path
  file:
    path: "/tmp/install_gcloud"
    state: absent
