---
- name: Install tools
  become: true
  apt:
    update_cache: true
    state: present
    name:
      - btop
      - bat

###### eza ##########
- name: Install eza
  include_role:
    name: me.utils/install_github_binary
  vars:
    github_repo: "eza-community/eza"
    github_asset_name: "eza_{{ github_arch }}-unknown-linux-gnu.tar.gz"
    binary_src_name: eza
    binary_dest_name: eza
    extract_archive: true

###### yazi ##########
- name: Install yazi
  include_role:
    name: me.utils/install_github_binary
  vars:
    github_repo: "sxyazi/yazi"
    github_asset_name: "yazi-{{ github_arch }}-unknown-linux-gnu.zip"
    binary_src_name: "yazi-{{ github_arch }}-unknown-linux-gnu/yazi"
    binary_dest_name: "yazi"
    tmp_dir: "/tmp/yazi"
    delete_tmp_dir: false
    extract_archive: true
- name: Copy yazy config files
  synchronize:
    src: files/yazi/
    dest: ~/.config/yazi/
    recursive: true
# todo: yazi completion

####### lazymake ##########
- name: Install lazymake
  include_role:
    name: me.utils/install_github_deb
  vars:
    github_repo: "rshelekhov/lazymake"
    github_asset_name: "lazymake_0.3.0_linux_amd64.deb"
    github_release_tag: "v0.3.0"

####### posting ##########
- name: Install uv
  shell: |
    set -o pipefail
    curl -LsSf https://astral.sh/uv/install.sh | sh
  args:
    executable: /bin/bash
    creates: "{{ ansible_env.HOME }}/.local/bin/uv"

- name: Install posting
  shell: $HOME/.local/bin/uv tool install --python 3.13 posting
  args:
    creates: "{{ ansible_env.HOME }}/.local/bin/posting"

- name: Copy posting config files
  synchronize:
    src: files/posting/
    dest: ~/.config/posting/
    recursive: true

###### resterm ##########
- name: Install resterm
  include_role:
    name: me.utils/install_github_binary
  vars:
    github_repo: "unkn0wn-root/resterm"
    github_asset_name: "resterm_Linux_{{ github_arch }}"
    binary_src_name: "resterm_Linux_{{ github_arch }}"
    binary_dest_name: "resterm"
    delete_tmp_dir: false
