---
- name: Set default nvim config name
  set_fact:
    nvim_appname: "{{ lookup('env', 'NVIM_APPNAME') | default('nvim', true) }}"

# Delete nvim config
- name: Delete previous nvim config ({{ nvim_appname }})
  file:
    path: "{{item}}"
    state: absent
  loop:
    - "~/.config/{{ nvim_appname }}"
    - "~/.local/share/{{ nvim_appname }}"
    - "~/.local/state/{{ nvim_appname }}"
    - "~/.cache/{{ nvim_appname }}"

# Install LazyVim
- name: clone LazyVim
  git:
    repo: https://github.com/LazyVim/starter
    dest: "~/.config/{{ nvim_appname }}"
    depth: 1
- name: Delete .git folder
  file:
    path: "~/.config/{{ nvim_appname }}/.git"
    state: absent

- name: Copy Lazyvim confing
  synchronize:
    src: ./files/nvim/lazyvim_config/
    dest: "~/.config/{{ nvim_appname }}/"
