---
- name: Test if golang is installed
  command: which fzf
  register: test_fzf
  changed_when: false
  failed_when: false

- name: Download fzf binary
  when: test_fzf.rc != 0
  get_url:
    url: https://github.com/junegunn/fzf/releases/download/v0.66.1/fzf-0.66.1-linux_amd64.tar.gz
    dest: /tmp/fzf.tar.gz
    mode: '0644'

- name: Unarchive /tmp/fzf.tar.gz
  when: test_fzf.rc != 0
  become: true
  unarchive:
    src: /tmp/fzf.tar.gz
    dest: /usr/local/bin

- name: Delete /tmp/fzf.tar.gz
  file:
    path: /tmp/fzf.tar.gz
    state: absent
