---
# tasks file for me.fzf

- name: Test if golang is installed
  shell: command -v fzf || true
  register: test_fzf

- name: Download fzf binary
  when: test_fzf.stdout == ""
  get_url:
    url: https://github.com/junegunn/fzf/releases/download/v0.66.1/fzf-0.66.1-linux_amd64.tar.gz
    dest: /tmp/fzf.tar.gz

- name: Unarchive /tmp/fzf.tar.gz
  when: test_fzf.stdout == ""
  become: true
  unarchive:
    src: /tmp/fzf.tar.gz
    dest: /usr/local/bin

- name: Delete /tmp/fzf.tar.gz
  file:
    path: /tmp/fzf.tar.gz
    state: absent
