---
- name: Test if VS Code is installed
  command: which code
  register: test_vscode
  changed_when: false
  failed_when: false

- name: Download VS Code
  when: test_vscode.rc != 0
  get_url:
    url: https://code.visualstudio.com/sha/download?build=stable&os=linux-deb-x64
    dest: /tmp/vscode.deb
    mode: '0644'

- name: Install VS Code
  when: test_vscode.rc != 0
  become: true
  apt:
    deb: /tmp/vscode.deb
    state: present

- name: Delete /tmp/vscode.deb
  file:
    path: /tmp/vscode.deb
    state: absent
