include ./kitty-themes/Dracula.conf

# font_family JetBrainsMono Nerd Font
font_family family="JetBrainsMono Nerd Font"
font_size 11

background_opacity 0.75

# Remove window decorations (title bar + borders)
hide_window_decorations yes

confirm_os_window_close 0
remember_window_size no

enable_audio_bell no

#Toggle fullscreen
#map ctrl+shift+f11 toggle_fullscreen
#map ctrl+cmd+f toggle_fullscreen 🍎
#Toggle maximized
#map ctrl+shift+f10 toggle_maximized
# ctrl+Shift+f5 reload kitty config
