---
- name: Test if dbeaver is installed
  command: which dbeaver-ce
  register: test_dbeaver
  changed_when: false
  failed_when: false

- name: Download dbeaver.deb
  when: test_dbeaver.rc != 0
  get_url:
    url: https://dbeaver.io/files/dbeaver-ce_latest_amd64.deb
    dest: /tmp/dbeaver-ce_latest_amd64.deb
    mode: '0644'

- name: Install dbeaver
  when: test_dbeaver.rc != 0
  become: true
  apt:
    deb: /tmp/dbeaver-ce_latest_amd64.deb
    state: present

- name: Delete /tmp/dbeaver.deb
  file:
    path: /tmp/dbeaver-ce_latest_amd64.deb
    state: absent
