---
- name: Ensure curl and tar are installed
  become: true
  apt:
    name:
      - curl
      - tar
    state: present
    update_cache: yes

- name: Check installed lazygit version
  command: lazygit --version
  register: lazygit_installed
  ignore_errors: true
  changed_when: false

- name: Parse installed lazygit version
  set_fact:
    lazygit_installed_version: "{{ lazygit_installed.stdout | regex_search('version ([0-9.]+)', '\\1') }}"
  when: lazygit_installed.rc == 0

- name: Get latest lazygit version
  shell: >
    curl -s https://api.github.com/repos/jesseduffield/lazygit/releases/latest
    | grep -Po '"tag_name": *"v\K[^"]*'
  register: lazygit_latest_version
  changed_when: false

- name: Decide if lazygit needs installation
  set_fact:
    lazygit_needs_install: >-
      {{ lazygit_installed.rc != 0
         or lazygit_installed_version != lazygit_latest_version.stdout }}

- name: Download lazygit tar.gz
  get_url:
    url: "https://github.com/jesseduffield/lazygit/releases/download/v{{ lazygit_latest_version.stdout }}/lazygit_{{ lazygit_latest_version.stdout }}_Linux_x86_64.tar.gz"
    dest: /tmp/lazygit.tar.gz
    mode: '0644'
  when: lazygit_needs_install

- name: Extract lazygit binary
  shell: tar xf /tmp/lazygit.tar.gz -C /tmp lazygit
  args:
    creates: /tmp/lazygit
  when: lazygit_needs_install

- name: Install lazygit binary to /usr/local/bin
  become: true
  shell: install /tmp/lazygit -D -t /usr/local/bin/
  args:
    creates: /usr/local/bin/lazygit
  when: lazygit_needs_install

- name: Copy config file
  ansible.builtin.copy:
    src: ./files/config.yml
    dest: "{{ ansible_env.HOME }}/.config/lazygit/"
    mode: '0644'
