---
- name: Install yazi
  include_role:
    name: me.utils/install_github_binary
  vars:
    github_repo: "sxyazi/yazi"
    github_asset_name: "yazi-{{ github_arch }}-unknown-linux-gnu.zip"
    binary_src_name: "yazi-{{ github_arch }}-unknown-linux-gnu/yazi"
    binary_dest_name: "yazi"
    tmp_dir: "/tmp/yazi"
    delete_tmp_dir: true
    extract_archive: true
- name: Copy yazy config files
  synchronize:
    src: files/
    dest: ~/.config/yazi/
    recursive: true
# todo: yazi completion
